<template>
    <svelte:component
        this={$currentRoute?.component}
        parameters={$currentRoute?.parameters} />
</template>

<script>
    import { router } from '.';
    import { SvelteSubject } from 'store';

    let currentRoute = new SvelteSubject(null);
    router.current.subscribe(x => {
        currentRoute.next(null);
        requestAnimationFrame(() => {
            currentRoute.next(x);
        });
    });
</script>
