<template lang="pug">
    .space-y-6.pb-4
        Card
            h1.text-2xl(slot="header") Guarded
            p This is Guarded.
</template>

<script>
    import Card from 'components/Card.svelte';
</script>
