<template lang="pug">
    .space-y-6.pb-4
        Card
            h1.text-2xl(slot="header") Home
            p This is home.
            button(use:router.link="{'test/parameter-example'}") go to parameter example.
            br
            button(use:router.link="{'guarded-url'}") go to guarded example.
            br
            button(use:router.link="{'test/specific/Specificity-URL'}") go to specificity example.
            br
            button(use:router.link="{'test/specific/second-parameter/third-parameter'}") go to multiple parameter example.
            br
            button(use:router.link="{'this-link-doesnt-exist'}") go to 404 example.
            br
            button(use:router.link="{'test/parameter-example|this-is-another-route'}") middleware test.

            img(src="/assets/testimg.png")
</template>

<script>
    import Card from 'components/Card.svelte';
    import { router } from 'router';
</script>
