<template lang="pug">
    .space-y-6.pb-4
        Card
            h1.text-2xl(slot="header") Parameters
            p This is test.
            ul
                li {$parameters.first}
                li {$parameters.second}
                li {$parameters.third}
</template>

<script>
    import Card from 'components/Card.svelte';

    // Retrieve parameters without having to go to the router.
    export let parameters;
</script>
