<template lang="pug">
    .space-y-6.pb-4
        Card
            h1.text-2xl(slot="header") Persisted
            p
                | This is persistence test.
                | The text in the input should update the UI, and persist across sessions.
            p The persisted data is: "{$input ?? ''}"
            input(bind:value!="{$input}" placeholder="Type here")
</template>

<script>
    import { debounceTime } from 'rxjs/operators';
    import Card from 'components/Card.svelte';
    import { store, SvelteSubject } from 'store';

    (async () => {
        // If no record exists, create it.
        let currentRecord = await store.data.persisted.select
            .where({ id: 1 })
            .exec();
        if (currentRecord.length <= 0) {
            store.data.persisted.upsert.value({ id: 1, input: '' }).exec();
        }
    })();

    let input = store.data.persisted.observable({
        column: 'input',
        query: store.data.persisted.select.where({ id: 1 }).take(1),
    });
</script>
