<template lang="pug">
    .space-y-6.pb-4
        Card
            h1.text-2xl(slot="header") Test
            p This is test.
            |{#if $currentRoute.parameters?.param}
            p
                | This block should only display if the parameter is set,
                | in this case it has been set to '{$currentRoute.parameters.param}'
            |{/if}
</template>

<script>
    import { map } from 'rxjs/operators';
    import { get } from 'svelte/store';
    import Card from 'components/Card.svelte';
    import { router } from 'router';

    let currentRoute = router.current;
</script>
