<template lang="pug">
    .transition.duration-500.z-20.bg-black.bg-opacity-0.fixed.top-0.right-0.bottom-0.left-0.md-bg-opacity-0.md-pointer-events-none(on:click!="{closeMenu}" class!="{$menu.open ? 'bg-opacity-30' : 'pointer-events-none'}")
    .shadow.border-r.border-gray-300.z-30.overflow-y-auto.bg-white.w-48.h-full.flex-none.space-y-2.flex-shrink-0.fixed.transform.transition.duration-700.ease-out.p-2.md-sticky.md--translate-x-0(class!="{$menu.open ? '-translate-x-0' : '-translate-x-full'}")
        |{#each $menuItems as route}
        a.rounded.px-4.py-1.cursor-pointer.transition.bg-white.hover-bg-blue-100.block(use:router.link="{route.path}" on:click="{closeMenu}") {route.title}
        |{/each}
</template>

<script>
    import { map } from 'rxjs/operators';
    import {
        every,
        filter,
        flow,
        head,
        isEmpty,
        last,
        map as _map,
        partialRight,
        slice,
        trim,
        values,
        tap,
    } from 'lodash';
    import { get } from 'svelte/store';
    import { store } from 'store';
    import { router } from 'router';
    export let menu = store.menu;

    let menuItems = router.pipe(
        map(
            flow(
                values,
                partialRight(filter, x => x.meta?.navigable !== false),
                partialRight(_map, route => {
                    return {
                        path: route.path.trim('/'),
                        title: route.title,
                    };
                }),
                partialRight(filter, x => {
                    const dataParts = slice(x.path.split(':'), 1);
                    const valid = every(
                        dataParts,
                        y => isEmpty(y) || last(y) === '?'
                    );
                    x.path = head(x.path.split(':'));
                    return valid && trim(x.path, '/').split('/').length === 1;
                })
            )
        )
    );

    function closeMenu() {
        store.menu.open = false;
    }
</script>
