<template lang="pug">
    .top-0.z-10.bg-white.justify-between.sticky.px-4.flex-row.py-2.shadow.border-b.border-gray-300.flex
        .flex-1
            |{$currentRoute.title}
        .flex-0
            button.md-hidden(on:click!="{toggleMenu}")
                MenuOpenIcon.text-2xl
</template>

<script>
    import { get } from 'svelte/store';
    import { store } from 'store/index';
    import MenuOpenIcon from './icons/MenuOpen.svelte';
    import { router } from 'router';
    import { pluck, tap } from 'rxjs/operators';
    let currentRoute = router.current;

    function toggleMenu() {
        store.menu.open = true;
    }
</script>
