<template lang="pug">
.h-screen.w-screen.overflow-x-hidden.bg-gradient-to-br.from-gray-50.to-gray-200
    .flex.flex-nowrap.h-screen
        Menu
        .h-full.flex-auto.w-screen.h-screen.overflow-y-auto.overflow-x-hidden.md-w-auto
            TopBar
            .relative.m-2
                Router
</template>

<script>
    import Menu from './components/Menu.svelte';
    import TopBar from './components/TopBar.svelte';
    import { Router } from './router';
</script>

<style global lang="postcss">
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
</style>
